{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  {% capture link1 %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
  {% capture link2 %}{{ site.baseurl_root }}/sr{{ page.url }}{% endcapture %}

  <div class="lang-select">

    {%- if site.lang == 'sr' -%}
      <a id="lang-en" href="{{ link1 }}">en</a>
      <span>|</span>
      <a id="lang-sr" href="{{ link2 }}" class="lang-active">sr</a>
    {%- else -%}
      <a id="lang-en" href="{{ link1 }}" class="lang-active">en</a>
      <span>|</span>
      <a id="lang-sr" href="{{ link2 }}">sr</a>
    {%- endif -%}

  </div>

  <div class="menu">
    <ul>

      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ site.baseurl }}{{ my_page.url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}

    </ul>
  </div>

  <script>
  </script>
</header>
