---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.categories.canada -%}
      <li>
        {%- assign date_format = "%Y-%m-%d" -%}
        [ {{ post.date | date: date_format }} ] <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | escape }}</a>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
